In [1]:
import pandas as pd
import numpy as np
from IPython.display import display
import openpyxl
from datetime import datetime
import requests

In [2]:
# You need coin recon sheet plus the APY/COFA sheet for live waterfall
# I download the sheets and save them as excel files so I have a copy of the raw data (for debugging and archiving)

In [3]:
def melt(df, col_vals, key, value):
    # melt pandas dataframe
    # col_vars: list of the columns that will be melted
    # key: name of column needs to be generated
    # value: name of the column that contains the value of interest
    keep_vars = df.columns.difference(col_vals)
    melted = []
    for c in col_vals:
        melted_c = df[keep_vars].copy()
        melted_c[key] = c
        melted_c[value] = df[c]
        melted.append(melted_c)
    return pd.concat(melted)

In [4]:
# read the raw spreadsheet, downloanded from shared drive
c_recon = pd.ExcelFile("excel_input/Celsius_Reconciliation_Master.xlsx")

stats = pd.read_excel(c_recon, "Coin Stats", header = None)
defi = pd.read_excel(c_recon, "DeFi Assets")
ftx = pd.read_excel(c_recon, "FTX Summary")
template = pd.read_excel("excel_input/coin_apy_template.xlsx", 
                         sheet_name = "APY", 
                         header = None)

template.columns = template.iloc[0]
template = template[template["Coin"].notnull()]
template

,Coin,Bank - Balances,Celsius Network,Celsius Network System,Celsius Network Finance,Celsius OTC,CEL Treasury,CEL Users,Loans Out,Posted Collateral,...,DD-NOTIONAL-WBTC,DD-NOTIONAL-ETH,DD-Elrond-EGLD,DD-Yearn-LINK,DD-Yearn-WBTC,Deployment - 1INCH,TEST-MATIC,TEST-ARBITRUM,TEST-FANTOM,TEST-AVALANCHE
0,Coin,Bank - Balances,Celsius Network,Celsius Network System,Celsius Network Finance,Celsius OTC,CEL Treasury,CEL Users,Loans Out,Posted Collateral,...,DD-NOTIONAL-WBTC,DD-NOTIONAL-ETH,DD-Elrond-EGLD,DD-Yearn-LINK,DD-Yearn-WBTC,Deployment - 1INCH,TEST-MATIC,TEST-ARBITRUM,TEST-FANTOM,TEST-AVALANCHE
1,Category,undeployed,undeployed,undeployed,undeployed,undeployed,CEL Treasury,CEL Users,Institutional Loans,Posted Collateral,...,defi,defi,defi,defi,defi,defi,defi,defi,defi,defi
2,Tier,1.0,1.0,1.0,1.0,1.0,1.0,1.0,4.0,5.0,...,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,Default,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,wBTC (Y/N),N,N,N,N,N,N,N,N,N,...,Y,N,N,N,Y,Y,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,YFL,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97,ZEC,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0348,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98,ZRX,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0557,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,ZUSD,NaN,0.0,0.0,0.0,0.0,0.0,NaN,,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
104,check,3,89,89,NaN,89,89,5,39,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# this is generating a assets/liabilities dataframe for waterfall sheet
coin_asset_liability = stats[[0,2,3]].copy()
coin_asset_liability.columns = coin_asset_liability.iloc[0]
coin_asset_liability.drop([0], inplace = True)
coin_asset_liability.dropna(axis = 0 , how = "all", inplace = True)
coin_asset_liability.reset_index(drop = True, inplace = True)
coin_asset_liability.at[0, "Coin/Asset"] = "Total"
coin_asset_liability = coin_asset_liability[coin_asset_liability["Coin/Asset"].notnull()]
coin_asset_liability.columns = ['Coin', 'Net Assets Total', 'Net Liabilities Total']
coin_asset_liability["Net Assets Total"] = coin_asset_liability["Net Assets Total"].astype("float")
coin_asset_liability["Net Liabilities Total"] = coin_asset_liability["Net Liabilities Total"].astype("float")
#coin_asset_liability.columns

In [6]:
# get the coin price from coin recon sheet, there are some coins in FTX which are not listed in the "coin stats" tab
# and have no price. I use FTX api to get their most recent price.
coin_price = stats[[0,1]]
coin_price.columns = ["Coin", "Price"]
coin_price.drop([0], inplace = True)
coin_price.dropna(axis = 0 , how = "all", inplace = True)
coin_price = coin_price[coin_price["Coin"].notnull()]
coin_price.reset_index(drop = True, inplace = True)
coin_price.loc[len(coin_price.index)] = ['Stable Coins', 1] 
srm_price = float(coin_price.loc[coin_price["Coin"] == "SRM", "Price"])
coin_price.loc[len(coin_price.index)] = ['SRM_LOCKED', srm_price] 
#coin_price


existing_coins = coin_price["Coin"].unique()
coins_need_price = ["ATLAS", "SOL","POLIS", "RAY", "SLRS", "BVOL", "YFL", "QI", "CREAM"]
needed = []
for coin in coins_need_price:
    if coin not in existing_coins:
        needed.append(coin)
print(needed)
price_dict ={"Coin": [], "Price": []}
for coin in needed:
    url1 = (f"https://ftx.com/api/markets/{coin}/USD")
    data = requests.get(url1).json()
    price_dict["Coin"].append(coin)
    price_dict["Price"].append(data['result']["price"])
needed_price = pd.DataFrame.from_dict(price_dict)
coin_price = pd.concat([coin_price, needed_price])
needed_price

/Users/gabrielchoukroun/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/Users/gabrielchoukroun/opt/anaconda3/lib/python3.9/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

['POLIS', 'SLRS', 'BVOL']

    Coin      Price
0  POLIS    6.92475
1   SLRS    0.43850
2   BVOL  636.20000

In [7]:
# get coin tier info 
tiers = template[template["Coin"]=="Tier"].T
tiers.reset_index(inplace = True)
tiers.columns = ["Account", "Tier"]
tiers.drop([0], inplace = True)
# there may be duplicate records in tier info
tiers.drop_duplicates(inplace = True)
# there are some rare occasions that the same account is assinged to two or more different tiers, use the first encountered
# the others are likely for some testing purposes, which are usually added to the end 
tiers = tiers[~tiers.Account.duplicated()]
filter4 = tiers['Tier'].isnull()
tiers.at[filter4, "Tier"] = "unassigned"
tiers["Tier"] = tiers["Tier"].astype("string")
#print(len(tiers))
#print(len(tiers[tiers["Tier"] == "unassigned"]))
#print(tiers.Account.nunique())
tiers["Tier"] = tiers["Tier"].apply(lambda x:x.split(".")[0])
#tiers["Tier"].unique()
#tiers

In [8]:
# mapping each accout to a category
categories = template[template["Coin"].isin(["Coin", "Category"])].T
categories.reset_index(drop = True, inplace = True)
categories.columns = ["Account", "Category"]
categories.drop([0], inplace = True)
categories.Category.fillna(value = "unassigned", inplace = True)
#print(len(categories))
#print(len(categories[categories["Category"] == "unassigned"]))
#print(categories.Account.nunique())
#categories

In [9]:
# read the cofa data
cofa_original = pd.read_excel("excel_input/coin_apy_template.xlsx", sheet_name = "COFA")
cofa_original.dropna(axis=0, how='all', inplace=True)
cofa_original.reset_index(drop = True, inplace = True)
#display(cofa_original)
cofa_original.at[cofa_original["Coin"] == "stable", "Coin"] = "Stable Coins"
cofa_melt_cols = list(cofa_original.columns)
cofa_melt_cols.remove("Coin")
#print(cofa_melt_cols)
cofa = melt(cofa_original, cofa_melt_cols, "Account", "COFA")
cofa = cofa[cofa["COFA"].notnull()]
cofa.reset_index(drop = True, inplace = True)
#cofa

In [10]:
# process apy data
apy = template[~template["Coin"].isin(["Coin", "Category", "Tier"])]
#apy.fillna(value = 0, inplace = True)

# people leave spaces in the excel file sometimes, need to get rid of them
apy.replace([" ", "", "  "], np.nan, inplace = True)
apy =apy[apy["Coin"] != "wBTC (Y/N)"]
#apy

/Users/gabrielchoukroun/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:5238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [11]:
apy2 = apy.copy()
apy2["Coin"] = apy2["Coin"] + "_APY"
apy5 = apy2.T
apy5.reset_index(inplace = True)
apy5.columns = apy5.iloc[0]
apy5.rename(columns = {"Coin": "Account"}, inplace = True)
apy5.drop([0], inplace = True)
#apy5

In [12]:
# convert dyptes to float
for col in apy5.columns:
    if col != "Account":
        apy5.loc[apy5[col].isin(template["Coin"].unique()), col] = np.nan
        apy5[col] = apy5[col].astype("float")

In [13]:
# get the user collateral and institutional collateral data in a dataframe
# to be uploaded to waterfall sheet 
collateral = stats.copy()
collateral_p1 = collateral.iloc[:, 0].to_frame()
collateral_p1.columns = ["Coin"]
collateral_p2 = collateral.iloc[:, 4:]
collateral_p2.columns = collateral_p2.iloc[2]
collateral = pd.concat([collateral_p1, collateral_p2[["User Collateral", "Inst Collateral"]]], axis = 1)
collateral.drop([0,1,2,3], inplace = True)
collateral = collateral[collateral["Coin"].notnull()]
collateral["User Collateral"] = -1 * collateral["User Collateral"]
collateral["Inst Collateral"] = -1 * collateral["Inst Collateral"]
collateral.fillna(value = 0, inplace = True)
collateral.dtypes

Coin                object
User Collateral    float64
Inst Collateral    float64
dtype: object

In [14]:
# process stats table

# first fill the "asset" or "liability" into row 0
stats.iloc[0] = stats.iloc[0].ffill()
# drop the secondary description of asset or liability (no use)
stats.drop([1], inplace = True)

#split stats into two parts, p1 is coin name and summary, p2 is assets/liabilities
stats_p1 = stats.iloc[:, 0:3]
stats_p1.columns = stats_p1.iloc[0]
stats_p1.reset_index(drop = True, inplace = True)
stats_p1.drop([0, 1, 2], inplace = True)
stats_p1.rename(columns = {"Coin/Asset": "Coin"}, inplace = True)


stats_p2 = stats.iloc[:, 4:]

# filter according to "assets" and the detailed account name cannot be null
stats_p3 = stats_p2.loc[:, stats_p2.loc[2].notnull()]
stats_p4 = stats_p3.loc[:, stats_p3.loc[0] == "Assets"]
stats_p4.reset_index(drop = True, inplace = True)
stats_p4.columns = stats_p4.iloc[1]
stats_p4.reset_index(drop = True, inplace = True)
stats_p4.drop([0, 1, 2], inplace = True)
stats = pd.concat([stats_p1["Coin"], stats_p4], axis = 1)
stats = stats[stats["Coin"].notnull()]
stats

/Users/gabrielchoukroun/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/Users/gabrielchoukroun/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,Coin,Bank - Balances,Celsius Network,Celsius Network System,Celsius OTC,Celsius Network Finance,CEL Treasury,CEL Users,Loans Out,Posted Collateral,...,Stakehound,Kraken Staking,Direct Staking,Mining,EAM - Balances,Others - Asset,BITFINEX,COINBASEPRO,DERIBIT,LIQUID
3,1INCH,0,0,154142.1577,0,0,0,0,0,0,...,0,0,0,0,0,6666666.66,0,0,0,0
4,3CRV,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,AAVE,0,73.0479,10334.76787,106.934225,4.32075,0,0,19620.65,0,...,0,0,0,0,0,0,0,0,0,0
6,ADA,0,9938011.318,9341347.537,14728.44519,31898.68659,0,0,63361559,0,...,0,0,172989654.2,0,0,0,0,0,0,0
7,ALCX,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,YFI,0,0.377342,0.308855,0,0,0,0,50.86,0,...,0,0,0,0,0,0,0.908988,0,0,0
92,YFL,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
93,ZEC,0,214.6215,94104.16853,0,0,0,0,24000,0,...,0,0,0,0,0,0,4630.608794,0,0,0
94,ZRX,0,212857.5452,1413317.664,0,272.88,0,0,3500000,0,...,0,0,0,0,0,0,577403.3459,8735.95141,0,0
95,ZUSD,0,0,777079.4282,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
stats.columns

Index(['Coin', 'Bank - Balances', 'Celsius Network', 'Celsius Network System',
       'Celsius OTC', 'Celsius Network Finance', 'CEL Treasury', 'CEL Users',
       'Loans Out', 'Posted Collateral', 'DeFi Borrows - Assets',
       'DeFi Assets - Assets', 'PrimeTrust', 'Loans', 'Grayscale', 'Osprey',
       'FTX', 'Deribit - API', 'Stakehound', 'Kraken Staking',
       'Direct Staking', 'Mining', 'EAM - Balances', 'Others - Asset',
       'BITFINEX', 'COINBASEPRO', 'DERIBIT', 'LIQUID'],
      dtype='object')

In [16]:
# process DeFi assets data
defi_p1 = defi.iloc[:, 0:3]
defi_p1.drop([0, 1, 2], inplace = True)
defi_p1.rename(columns = {"Coin/Asset": "Coin"}, inplace = True)
defi_p1
defi_p2 = defi.iloc[:, 3:]

# filter according the detailed account name cannot be null
defi_p3 = defi_p2.loc[:, defi_p2.iloc[1].notnull()]
defi_p3.reset_index(drop = True, inplace = True)
defi_p3.columns = defi_p3.iloc[1]
defi_p3.reset_index(drop = True, inplace = True)
defi_p3.drop([0, 1, 2], inplace = True)
defi_p3
defi = pd.concat([defi_p1["Coin"], defi_p3], axis = 1)
defi = defi[defi["Coin"].notnull()]
#defi

/Users/gabrielchoukroun/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [17]:
# process ftx summary data
ftx.dropna(axis = 0 , how = "all", inplace = True)
ftx.dropna(axis = 1 , how = "all", inplace = True)
filter_ftx = ((ftx["Total Asset"] == 0) & (ftx["Total Borrow"] == 0))
ftx = ftx[(ftx["coin"].notnull()) & ~filter_ftx]
ftx.drop(columns = ["Total Asset", "Total Borrow"], inplace = True)
ftx_cols = []
for col in ftx.columns:
    ftx_cols.append("FTX - " + col)
ftx.columns = ftx_cols
ftx.rename(columns = {"FTX - coin": "Coin"}, inplace = True)

# below lines of code will merge BTC and WBTC together
ftx_btc = ftx[ftx["Coin"].isin(["BTC", "WBTC"])]
ftx_btc = ftx_btc.append(ftx_btc.sum(numeric_only=True), ignore_index=True)
ftx_btc = ftx_btc[~ftx_btc["Coin"].isin(["BTC", "WBTC"])]
ftx_btc.reset_index(drop = True, inplace = True)
ftx_btc.loc[0, "Coin"] = "BTC"
ftx = pd.concat([ftx_btc, ftx[~ftx["Coin"].isin(["BTC", "WBTC"])]])
#ftx

In [18]:
# get update date and time
now = datetime.now()
dt_string = now.strftime("%Y-%m-%d %H:%M:%S")
#print("Updated at:", dt_string)

In [19]:
# define the stable coins, these coins are listed together under "stable coins" in waterfall sheet
stables = ['alUSD','BUSD', 'GUSD', 'LUSD', 'LUSD Curve','MCDAI', 'PAX', 'SUSD', 'TUSD', 
           'USDC', 'USDT ERC20', 'ZUSD', "USD"]

In [20]:
# create a Tier dataframe for merging purpose
tier_dict = {"Tier":["1", "2", "3", "4", "5", "unassigned"]}
coin_tiers = pd.DataFrame.from_dict(tier_dict)
coin_tiers

         Tier
0           1
1           2
2           3
3           4
4           5
5  unassigned

In [21]:
# merge 3 dataframes together, coin stats/Defi assets/FTX summary
coin_stats = stats.merge(defi, on = "Coin", how = "outer")
coin_stats = coin_stats.merge(ftx, on = "Coin", how = "outer")
coin_stats.fillna(value = 0, inplace = True)
coin_stats_col = []
for col in coin_stats.columns:
    coin_stats_col.append(col.strip())
coin_stats.columns = coin_stats_col
#len(coin_stats.columns)
coin_stats

,Coin,Bank - Balances,Celsius Network,Celsius Network System,Celsius OTC,Celsius Network Finance,CEL Treasury,CEL Users,Loans Out,Posted Collateral,...,FTX - DeFi,FTX - Management,FTX - Kairon,FTX - Kairon2,FTX - Brad,FTX - Jacob,FTX - cel_staking,FTX - Directional Trading 2,FTX - CEL,FTX - Borrow
0,1INCH,0.0,0.000000e+00,1.541422e+05,0.000000,0.00000,0.0,0.0,0.00,0.0,...,0.000000,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.000000
1,3CRV,0.0,0.000000e+00,0.000000e+00,0.000000,0.00000,0.0,0.0,0.00,0.0,...,0.000000,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.000000
2,AAVE,0.0,7.304790e+01,1.033477e+04,106.934225,4.32075,0.0,0.0,19620.65,0.0,...,0.001633,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,-3.318933
3,ADA,0.0,9.938011e+06,9.341348e+06,14728.445190,31898.68659,0.0,0.0,63361559.00,0.0,...,0.000000,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.000000
4,ALCX,0.0,0.000000e+00,0.000000e+00,0.000000,0.00000,0.0,0.0,0.00,0.0,...,0.000000,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,ALICE,0.0,0.000000e+00,0.000000e+00,0.000000,0.00000,0.0,0.0,0.00,0.0,...,0.000000,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.000000
95,LRC,0.0,0.000000e+00,0.000000e+00,0.000000,0.00000,0.0,0.0,0.00,0.0,...,0.000000,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.000000
96,POLIS,0.0,0.000000e+00,0.000000e+00,0.000000,0.00000,0.0,0.0,0.00,0.0,...,0.000000,0.0,0.0,0.0,213558.8607,0.0,0.0,0.0,0.0,0.000000
97,TRX,0.0,0.000000e+00,0.000000e+00,0.000000,0.00000,0.0,0.0,0.00,0.0,...,0.000000,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.000000
98,EUR,0.0,0.000000e+00,0.000000e+00,0.000000,0.00000,0.0,0.0,0.00,0.0,...,0.000000,0.0,0.0,0.0,0.0000,0.0,0.0,0.0,0.0,0.000000

In [22]:
# get a list of coins in the above dataframe and add "Stable Coins" into that list
coin_list = list(coin_stats["Coin"].unique())
coin_list.append("Stable Coins")
#coin_list

In [23]:
acc_list = np.asarray(tiers["Account"])
len(acc_list)

141

In [24]:
# this block and the following block are meant to show which accounts from coin recon sheet are not listed 
# in tier/apy sheet, or which accounts listed in the tier/apy data no longer exists in coin recon sheet
not_covered = []
for col in coin_stats.columns:
    if col not in acc_list:
        not_covered.append(col)
not_covered

['Coin',
 'DeFi Borrows - Assets',
 'DeFi Assets - Assets',
 'FTX',
 'Deribit - API',
 'Test Avalanche 2',
 'DD - Convex - tricrypto2 II',
 'DD - FRAX - Convex']

In [25]:
not_covered = []
for col in acc_list:
    if col not in coin_stats.columns:
        not_covered.append(col)
not_covered

['Deployment- 1INCH Staking (TESTING)',
 'Impermanent_loss_hedge__RonSabo',
 'Hedge_Options',
 'FTX ',
 'FTX Summery',
 'FTX - Johannes',
 2.0,
 'Binance - CnC',
 'Binance - Main',
 'Binance - Earn',
 'Binance - DeFi',
 'Binance - RS',
 'Binance Staking',
 'OKEX',
 'YD - Curve - renBTC',
 'Deployment - Stable Coin Swaps',
 'Deployment Team - COMP supply',
 'Deployment- 1INCH Staking',
 'Convex: cvxBUSD3CRV-f',
 'FTX - LONG1',
 'YD - Curve - SBTC',
 'YD - Keeper - renBTC',
 'Deployment - 1INCH Staking (testing)']

In [26]:
# transpose coin_stats to get it in right shape
coin_stats_t = coin_stats.T
new_header = coin_stats_t.iloc[0] #grab the first row for the header
coin_stats_t = coin_stats_t[1:] #take the data less the header row
coin_stats_t.columns = new_header #set the header row as the df header
coin_stats_t.reset_index(inplace = True)
coin_stats_t.rename(columns={coin_stats_t.columns[0]: "Account" }, inplace = True)
coin_stats_t.reset_index(drop=True, inplace = True)
#coin_stats_t = coin_stats_t[coin_stats_t["Account"] != "Defi Assets"]
coin_stats_t = coin_stats_t[~coin_stats_t["Account"].isin(['DeFi Borrows - Assets', 'DeFi Assets - Assets', "FTX"])]

#coin_stats_t

In [27]:
# adding Tier info 
coin_stat_tier = tiers.merge(coin_stats_t, on = "Account", how = "right")
#coin_stat_tier["Tier"].fillna(value = "unknown", inplace = True)

coin_stat_tier['Stable Coins']= coin_stat_tier[stables].sum(axis=1)
coin_stat_tier.to_excel("excel_outputs/coin_stats_tier_live.xlsx", index = False)

#print(len(coin_stat_tier[coin_stat_tier["Tier"] == "unknown"]))
coin_stat_tier["Tier"] = coin_stat_tier["Tier"].astype("str")

In [28]:
# to calculate stable coin apy, we need to calculate for each stable coin yield = # of each stable coin * apy of each stable
# and stable coin apy = sum of all stable coin yiled / total # of stable coins
# this prepares a list of columns needed to be summed.
stable_yield = []
for coin in stables:
    stable_yield.append(coin+"_yield")
stable_yield

['alUSD_yield',
 'BUSD_yield',
 'GUSD_yield',
 'LUSD_yield',
 'LUSD Curve_yield',
 'MCDAI_yield',
 'PAX_yield',
 'SUSD_yield',
 'TUSD_yield',
 'USDC_yield',
 'USDT ERC20_yield',
 'ZUSD_yield',
 'USD_yield']

In [29]:
# ADD --------------------------
# ------------------------------
# I need to add a function that will fill _APY columns with the default values
def default_fill(row):
    if ~ np.isnan(row['Default_APY']): 
        row.loc[apy_cols] = row[apy_cols].fillna(row['Default_APY'])
    return row

In [30]:
# calculate the yield = # of coins * apy for each coin
coin_stat_tier_apy = coin_stat_tier.merge(apy5, on = "Account", how = "left")
#coin_stat_tier_apy.fillna(value = 0, inplace = True)

# --------- ADD GAB - Replace NA APY by the corresponding Default APY values if it exists -------------------
apy_cols = ['_APY' in col for col in coin_stat_tier_apy.columns]
coin_stat_tier_apy = coin_stat_tier_apy.apply(default_fill, axis=1, result_type='broadcast')
coin_stat_tier_apy['Stable Coins'] = coin_stat_tier_apy['Stable Coins'].astype(np.float64)

#coin_stat_tier_apy.to_excel("C:/celsius/Liquidity/coin_stat_tier_apy.xlsx", index = False)
for coin in coin_list:
    #print(coin)
    yield_name = coin + "_yield"
    coin_apy = coin + "_APY"
    if coin_apy in coin_stat_tier_apy.columns:
        coin_stat_tier_apy[yield_name] = coin_stat_tier_apy[coin] * coin_stat_tier_apy[coin_apy]
    else:
        coin_stat_tier_apy[yield_name] = 0
        coin_stat_tier_apy[coin_apy] = np.nan
coin_stat_tier_apy['Stable Coins_yield']= coin_stat_tier_apy[stable_yield].sum(axis=1)
coin_stat_tier_apy['Stable Coins_APY']= coin_stat_tier_apy['Stable Coins_yield']/ coin_stat_tier_apy['Stable Coins']
coin_stat_tier_apy.to_excel("coin_stat_tier_apy.xlsx", index = False)

/var/folders/q7/qhj4q23x49vb9f__hlp8t3280000gn/T/ipykernel_24312/3959296538.py:19: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  coin_stat_tier_apy[coin_apy] = np.nan
/var/folders/q7/qhj4q23x49vb9f__hlp8t3280000gn/T/ipykernel_24312/3959296538.py:18: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  coin_stat_tier_apy[yield_name] = 0

In [31]:
apy_cols = ['_APY' in col for col in coin_stat_tier_apy.columns]
coin_stat_tier_apy.loc[:,apy_cols].head()

,Default_APY,1INCH_APY,3CRV_APY,AAVE_APY,ADA_APY,ALCX_APY,ALPHA_APY,alUSD_APY,AMPL_APY,ANKR_APY,...,check_APY,BOBA_APY,RAY_APY,SGB_APY,ALICE_APY,LRC_APY,POLIS_APY,TRX_APY,EUR_APY,Stable Coins_APY
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [32]:
coin_stat_tier_apy.head()

,Account,Tier,1INCH,3CRV,AAVE,ADA,ALCX,ALPHA,alUSD,AMPL,...,LRC_yield,LRC_APY,POLIS_yield,POLIS_APY,TRX_yield,TRX_APY,EUR_yield,EUR_APY,Stable Coins_yield,Stable Coins_APY
0,Bank - Balances,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,NaN,0,NaN,0,NaN,0,NaN,0.0,0.0
1,Celsius Network,1,0.0,0.0,73.0479,9938011.318,0.0,0.0,0.0,0.0,...,0,NaN,0,NaN,0,NaN,0,NaN,0.0,0.0
2,Celsius Network System,1,154142.1577,0.0,10334.76787,9341347.537,0.0,0.0,0.0,204.17833,...,0,NaN,0,NaN,0,NaN,0,NaN,0.0,0.0
3,Celsius OTC,1,0.0,0.0,106.934225,14728.44519,0.0,0.0,0.0,0.0,...,0,NaN,0,NaN,0,NaN,0,NaN,0.0,0.0
4,Celsius Network Finance,1,0.0,0.0,4.32075,31898.68659,0.0,0.0,0.0,0.0,...,0,NaN,0,NaN,0,NaN,0,NaN,0.0,0.0

In [33]:
coin_tiers.head()

  Tier
0    1
1    2
2    3
3    4
4    5

In [34]:
# for each coin, groupy by tier so we have a dataframe containing coin level tier data
# also calculating the apy for each coin on tier level
for coin in coin_list:
    #print(coin)
    coin_yield = coin+"_yield"
    coin_apy = coin+"_APY"
    df1 = coin_stat_tier_apy[[coin, coin_yield, "Tier"]]
    df2 = df1.groupby('Tier', as_index = False).agg({coin: "sum",
                                                    coin_yield: "sum"})
    df2[coin_apy] = df2[coin_yield]/ df2[coin]
    df2.drop(columns = [coin_yield], inplace = True)
    #display(df2)
    coin_tiers = coin_tiers.merge(df2, on = "Tier", how = "left")
coin_tiers.fillna(value = 0, inplace = True)
#coin_tiers

In [35]:
coin_tier_p1_cols = ["Tier"]
coin_tier_p2_cols = ["Tier"]
filter2 = coin_tiers["Tier"] != "unassigned"
for col in coin_tiers.columns:
    if col != "Tier" and "_APY" in col:
        coin_tier_p2_cols.append(col)
    elif col != "Tier":
        coin_tier_p1_cols.append(col)
    else:
        pass
#print(len(coin_tier_p1_cols))
#len(coin_tier_p2_cols)

In [36]:
coin_tier_p1 = coin_tiers[filter2][coin_tier_p1_cols].T
coin_tier_p1.reset_index(inplace = True)
coin_tier_p1.columns = coin_tier_p1.iloc[0]
coin_tier_p1.drop([0], inplace = True)
new_name = ["Coin"]
for col in coin_tier_p1.columns:
    if col != "Tier":
        new_name.append("Coin_Tier_"+str(col)[0])
coin_tier_p1.columns = new_name
#coin_tier_p1

In [37]:
coin_tier_p2 = coin_tiers[filter2][coin_tier_p2_cols]
coin_tier_p2.columns = coin_tier_p1_cols
coin_tier_p2 = coin_tier_p2.T
coin_tier_p2.reset_index(inplace = True)
coin_tier_p2.columns = coin_tier_p2.iloc[0]
coin_tier_p2.drop([0], inplace = True)
new_name = ["Coin"]
for col in coin_tier_p2.columns:
    if col != "Tier":
        new_name.append("APY_Tier_"+str(col)[0])
coin_tier_p2.columns = new_name
#coin_tier_p2

In [38]:
coin_tiers = coin_tier_p1.merge(coin_tier_p2, on = "Coin", how = "inner")
filter3 = ~coin_tiers["Coin"].isin(stables)
#coin_tiers.columns

## the below code is to generat the pivot_data tab

In [39]:
some_dict = {"Coin":[], "Category":[], "Account": [], "Tier": [], "# of Coins": [], "APY": []}
df1 = pd.DataFrame.from_dict(some_dict)
col_names = ["Coin", "Category", "Account", "Tier", "# of Coins", 
             "APY", "COFA", "USD Value", "USD Value * COFA",
             "USD Value * APY"]
df1

Empty DataFrame
Columns: [Coin, Category, Account, Tier, # of Coins, APY]
Index: []

In [40]:
for coin in coin_list:
    if coin not in stables:
        used_cols = ["Account", "Tier", coin, coin+"_APY"]
        df2 = categories.merge(coin_stat_tier_apy[used_cols], on = "Account", how = "right")
        df2["Coin"] = coin
        df2.rename(columns = {coin: "# of Coins", coin+"_APY": "APY"}, inplace = True)
        df1 = pd.concat([df1, df2])
filter1 = df1["# of Coins"] > 10e-6
df1 = df1[filter1]
df1 = df1.merge(coin_price, on = "Coin", how = "left")
df1["USD Value"] = df1["# of Coins"] * df1["Price"]
df1["USD Value * APY"] = df1["USD Value"] * df1["APY"]
df1["Tier"] = df1["Tier"].apply(lambda x:x.split(".")[0])

In [41]:
cats = list(df1["Category"].unique())
accs = list(df1["Account"].unique())
cofa_accts = list(cofa["Account"].unique())
cofa_accts.remove("Default")
#cofa_accts

In [42]:
def add_cofa(df1, cofa, cofa_accts):
    default_cofa = cofa[cofa["Account"] == "Default"][["Coin", "COFA"]]
    df2 = df1.merge(default_cofa, on = "Coin", how = "left")
    for col in cofa_accts:
        #print(col)
        cofa_2 = cofa[cofa["Account"] == col]
        if col in cats:
            cofa_2.columns = ["Coin", "Category", "COFA-2"]
            df2 = df2.merge(cofa_2, on=["Coin", "Category"], how='left')
        elif col in accs:
            cofa_2.columns = ["Coin", "Account", "COFA-2"]
            df2 = df2.merge(cofa_2, on=["Coin", "Account"], how='left')
        else:
            continue
        df2_p1 = df2[df2["COFA-2"].isnull()].drop(columns = ["COFA-2"])
        df2_p2 = df2[df2["COFA-2"].notnull()]
        df2_p2["COFA"] = df2_p2["COFA-2"]
        df2_p2.drop(columns = ["COFA-2"], inplace = True)
        df2 = pd.concat([df2_p1, df2_p2])
        df2.sort_values(by = ["Coin"], inplace = True)
    return df2

In [43]:
df2 = add_cofa(df1, cofa, cofa_accts)
df2.to_excel("excel_outputs/cofa_2.xlsx", index = False)
df2["USD Value * COFA"] = df2["USD Value"] * df2["COFA"]
df2.sort_values(by = "USD Value", ascending = False, inplace = True)
df2

/var/folders/q7/qhj4q23x49vb9f__hlp8t3280000gn/T/ipykernel_24312/2289702927.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2_p2["COFA"] = df2_p2["COFA-2"]
/Users/gabrielchoukroun/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Coin,Category,Account,Tier,# of Coins,APY,Price,USD Value,USD Value * APY,COFA,USD Value * COFA
112,BTC,Posted Collateral,Posted Collateral,5,50370.43,0.0,48917.61449,2464001276.435531,0.0,0.0000,0.0
260,ETH,Posted Collateral,Celsius Borrows Account,5,478515.7615,0.003,4004.747817,1916334951.267218,5749004.853802,0.0000,0.0
128,BTC,Institutional Loans,Loans Out,4,28077.42,0.0295,48917.61449,1373480407.433816,40517672.019298,0.0292,40105627.897067
484,Stable Coins,Institutional Loans,Loans Out,4,1230212872.78,0.092476,1,1230212872.78,113764701.91883,0.1197,147256480.871766
151,CEL,CEL Users,CEL Users,1,284229536.5,0.0,3.853882,1095387077.81615,0.0,0.0388,42501018.619267
...,...,...,...,...,...,...,...,...,...,...,...
414,MATIC,Defi,Bufords,2,0.001,0.0,1.955892,0.001956,0.0,0.0813,0.000159
585,ZRX,Defi,OmniMan1,5,0.001928,0.0,0.815045,0.001571,0.0,0.0169,0.000027
367,LDO,Defi,YieldDesk_Main,5,0.00025,0.0,2.91,0.000726,0.0,NaN,NaN
21,ALICE,Exchange,FTX - CnC,4,60000.04744,NaN,NaN,NaN,NaN,NaN,NaN
387,LRC,Exchange,FTX - CnC,4,900021.2306,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
# process the collateral table and insert it into the liquidity tier summary
# for COFA value of collateral, use default first, there is a "Collateral" column in COFA which will override the default
cofa_collateral_p1 = cofa_original[cofa_original["Collateral"].notnull()]
cofa_collateral_p2 = cofa_original[cofa_original["Collateral"].isnull()]
cofa_collateral_p1["Default"] = cofa_collateral_p1["Collateral"]
cofa_collateral = pd.concat([cofa_collateral_p1, cofa_collateral_p2])[["Coin", "Default"]]
cofa_collateral.columns = ["Coin", "COFA"]
collateral = collateral.merge(cofa_collateral, on = "Coin", how = "left")
collateral = collateral.merge(coin_price, on = "Coin", how = "left")
collateral["User Collateral USD Value"] = collateral["User Collateral"] * collateral["Price"]
collateral["Inst Collateral USD Value"] = collateral["Inst Collateral"] * collateral["Price"]

In [45]:
# get the whole apy-template table and insert it into the liquidity tier summary
apy_template = template.drop([0])
apy_template.fillna(value = "N/A", inplace = True)
apy_template.replace([" ", "", "  "], "N/A", inplace = True)

In [46]:
path = "excel_outputs/Liquidity_Tier_Summary Live.xlsx"
lp = openpyxl.load_workbook(path)
lp.remove(lp['Data'])
lp.remove(lp['Price'])
lp.remove(lp['Pivot_Data'])
lp.remove(lp['APY'])
lp.remove(lp['COFA'])
lp.remove(lp['Collateral'])
writer = pd.ExcelWriter(path, engine = 'openpyxl')
writer.book = lp
coin_tiers[filter3].to_excel(writer, sheet_name = 'Data', index = False)
coin_price.to_excel(writer, sheet_name = 'Price', index = False)
df2[col_names].to_excel(writer, sheet_name = 'Pivot_Data', index = False)
apy_template.to_excel(writer, sheet_name = 'APY', index = False)
cofa_original.to_excel(writer, sheet_name = 'COFA', index = False)
collateral.to_excel(writer, sheet_name = 'Collateral', index = False)
writer.close()
lp.close()

## following code will push the data to the shared google sheet

In [47]:
import os.path
from googleapiclient.discovery import build
from google_auth_oauthlib.flow import InstalledAppFlow
from google.auth.transport.requests import Request
from google.oauth2.credentials import Credentials

In [48]:
scope = [
'https://www.googleapis.com/auth/spreadsheets',
'https://www.googleapis.com/auth/drive'
]

# this is ID for testing
#SPREADSHEET_ID = '1IptNC0hEhwvuyfI4m2kP9-rR-3jDAOhgQaPNkW2I_QQ'
# this is ID for waterfall sheet
SPREADSHEET_ID = "1ZkSLZH2QwHnfdSpQUWAv2qum6xzhemngjWQBJBn_KeM"
#SPREADSHEET_ID = "1LxDLKU4S0vIuhUQywBNMwaaOs-_jojaxtco2fCiFBRE" # GAB RECON MASTER LAST
# The file token.json stores the user's access and refresh tokens, and is
# created automatically when the authorization flow completes for the first
# time.
if os.path.exists('write_token.json'):
        creds = Credentials.from_authorized_user_file('write_token.json', scope)
'''flow = InstalledAppFlow.from_client_secrets_file('client_secret_992941975507-pvjneopi7dhmj2mqq6arpghs6r7q31jj.json', scope)
creds = flow.run_local_server(port=0)
with open('write_token.json', 'w') as token:
    token.write(creds.to_json())'''
service = build('sheets', 'v4', credentials=creds)

In [49]:
response = service.spreadsheets().values().clear(
    spreadsheetId=SPREADSHEET_ID,
    range="Data",
    ).execute()

response = service.spreadsheets().values().update(
    spreadsheetId=SPREADSHEET_ID,
    valueInputOption='RAW',
    range="Data!A1",
    body=dict(
        majorDimension='ROWS',
        values=coin_tiers[filter3].fillna(value = "N/A").T.reset_index().T.values.tolist())
).execute()

In [50]:
response = service.spreadsheets().values().clear(
    spreadsheetId=SPREADSHEET_ID,
    range="Price",
    ).execute()

response = service.spreadsheets().values().update(
    spreadsheetId=SPREADSHEET_ID,
    valueInputOption='RAW',
    range="Price!A1",
    body=dict(
        majorDimension='ROWS',
        values=coin_price.fillna(value = 0).T.reset_index().T.values.tolist())
).execute()

In [51]:
response = service.spreadsheets().values().clear(
    spreadsheetId=SPREADSHEET_ID,
    range="APY",
    ).execute()

response = service.spreadsheets().values().update(
    spreadsheetId=SPREADSHEET_ID,
    valueInputOption='RAW',
    range="APY!A1",
    body=dict(
        majorDimension='ROWS',
        values=apy_template.fillna(value = 0).T.reset_index().T.values.tolist())
).execute()

In [52]:
response = service.spreadsheets().values().clear(
    spreadsheetId=SPREADSHEET_ID,
    range="COFA",
    ).execute()

response = service.spreadsheets().values().update(
    spreadsheetId=SPREADSHEET_ID,
    valueInputOption='RAW',
    range="COFA!A1",
    body=dict(
        majorDimension='ROWS',
        values=cofa_original.fillna(value = "N/A").T.reset_index().T.values.tolist())
).execute()

In [53]:
response = service.spreadsheets().values().clear(
    spreadsheetId=SPREADSHEET_ID,
    range="Collateral",
    ).execute()

response = service.spreadsheets().values().update(
    spreadsheetId=SPREADSHEET_ID,
    valueInputOption='RAW',
    range="Collateral!A1",
    body=dict(
        majorDimension='ROWS',
        values=collateral.fillna(value = "N/A").T.reset_index().T.values.tolist())
).execute()

In [54]:
response = service.spreadsheets().values().clear(
    spreadsheetId=SPREADSHEET_ID,
    range="Coin_Total_Asset_Liability",
    ).execute()

response = service.spreadsheets().values().update(
    spreadsheetId=SPREADSHEET_ID,
    valueInputOption='RAW',
    range="Coin_Total_Asset_Liability!A1",
    body=dict(
        majorDimension='ROWS',
        values=coin_asset_liability.fillna(value = 0).T.reset_index().T.values.tolist())
).execute()

In [55]:
response = service.spreadsheets().values().clear(
    spreadsheetId=SPREADSHEET_ID,
    range="Pivot_Data",
    ).execute()

response = service.spreadsheets().values().update(
    spreadsheetId=SPREADSHEET_ID,
    valueInputOption='RAW',
    range="Pivot_Data!A1",
    body=dict(
        majorDimension='ROWS',
        values=df2[col_names].fillna(value = "N/A").T.reset_index().T.values.tolist())
).execute()

## below code is for storing historical data with a date label

In [56]:
# get update date and time
now = datetime.now()
dt_string = now.strftime("%Y-%m-%d %H:%M:%S")
print("Updated at:", dt_string)
date_string = dt_string[0:10]
date_string

Updated at: 2021-12-13 11:06:21

'2021-12-13'

In [57]:
coin_tiers["Date"] = date_string
df2["Date"] = date_string
df2_col_names = ["Date", "Coin", "Category", "Account", "Tier", "# of Coins", 
             "APY", "COFA", "Price", "USD Value", "USD Value * COFA",
             "USD Value * APY"]
coin_tiers_col_names = ['Date', 'Coin', 'Coin_Tier_1', 'Coin_Tier_2', 'Coin_Tier_3', 'Coin_Tier_4',
       'Coin_Tier_5', 'APY_Tier_1', 'APY_Tier_2', 'APY_Tier_3', 'APY_Tier_4',
       'APY_Tier_5']

In [58]:
# Read the liquidity data excel file and apppend new data to it
#path = "/home/fan7893/Documents/Celsius/Liquidity/Liquidity_Tier_Data.xlsx"
path = "excel_input/Liquidity_Tier_Summary Live.xlsx"
data = pd.read_excel(path, sheet_name = "Data")
pivot_data = pd.read_excel(path, sheet_name = "Pivot_Data")

# there may be some null values due to excel operation, need to filter them out
data = data[data["Date"].notnull()]
pivot_data = pivot_data[pivot_data["Date"].notnull()]

# if running for multiple times for the same date, we need to replace the previous run data from same date
data = data[data["Date"] != date_string]
pivot_data = pivot_data[pivot_data["Date"] != date_string]

data = pd.concat([data, coin_tiers[filter3][coin_tiers_col_names]])
pivot_data = pd.concat([pivot_data, df2[df2_col_names]])

In [59]:
# reinsert the updated data into the template
writer = pd.ExcelWriter(path)

# add format info
workbook = writer.book
format1 = workbook.add_format({'num_format': '$#,##0', "align": "left"})
format2 = workbook.add_format({'num_format': '#,##0.00%', "align": "left"})
format3 = workbook.add_format({'num_format': '#,##0.00', "align": "left"})
format4 = workbook.add_format({'num_format': '$#,##0.00', "align": "left"})
data.to_excel(writer, sheet_name = 'Data', index = False)
pivot_data.to_excel(writer, sheet_name = 'Pivot_Data', index = False)

# set format
worksheet = writer.sheets["Data"]
worksheet.set_column('A:B', 16)
worksheet.set_column('C:G', 18, format3)
worksheet.set_column('H:L', 18, format2)
worksheet = writer.sheets["Pivot_Data"]
worksheet.set_column('A:C', 18)
worksheet.set_column('D:D', 32)
worksheet.set_column('E:E', 16)
worksheet.set_column('F:F', 18, format3)
worksheet.set_column('G:H', 16, format2)
worksheet.set_column('I:I', 18, format4)
worksheet.set_column('J:L', 18, format1)
writer.close()

In [60]:
historical_data_id = "1pzlQEQE4FI4OnGrhKMfu1Skwrvs-FubYuEn-Ez5HpsM"

response = service.spreadsheets().values().clear(
    spreadsheetId=historical_data_id,
    range="Data",
    ).execute()

response = service.spreadsheets().values().update(
    spreadsheetId=historical_data_id,
    valueInputOption='RAW',
    range="Data!A1",
    body=dict(
        majorDimension='ROWS',
        values=data.fillna(value = 0).T.reset_index().T.values.tolist())
).execute()

In [61]:
response = service.spreadsheets().values().clear(
    spreadsheetId=historical_data_id,
    range="Pivot_Data",
    ).execute()

response = service.spreadsheets().values().update(
    spreadsheetId=historical_data_id,
    valueInputOption='RAW',
    range="Pivot_Data!A1",
    body=dict(
        majorDimension='ROWS',
        values=pivot_data.fillna(value = "N/A").T.reset_index().T.values.tolist())
).execute()

In [62]:
# push the detailed tier data into the LR-MLO historical data
lr_mlo_historical_data_id = "1lxkI5ALRLN5BqFcO5ds9q5oilDqZX6gKhQKegIZFzl4"

response = service.spreadsheets().values().clear(
    spreadsheetId=lr_mlo_historical_data_id,
    range="Detailed_Tier_Data",
    ).execute()

response = service.spreadsheets().values().update(
    spreadsheetId=lr_mlo_historical_data_id,
    valueInputOption='RAW',
    range="Detailed_Tier_Data!A1",
    body=dict(
        majorDimension='ROWS',
        values=pivot_data[["Date", "Coin", "Category", "Account", "Tier", "# of Coins"]].fillna(value = 0).T.reset_index().T.values.tolist())
).execute()

HttpError: <HttpError 404 when requesting https://sheets.googleapis.com/v4/spreadsheets/1lxkI5ALRLN5BqFcO5ds9q5oilDqZX6gKhQKegIZFzl4/values/Detailed_Tier_Data:clear?alt=json returned "Requested entity was not found.". Details: "Requested entity was not found.">